<h2 class="text-warning">Edit article</h2>

<% form_for("article", {controller: '/article', action: '/edit'}, function(f){ %>
  
  <%- f.hidden_field("id") %>

  
    <div class="control-group">
      <%- f.label_for("title", {class : "control-label"}) %>
      <%- f.text_field("title", {class: "form-control"}) %>
    </div>
  
    <div class="control-group">
      <%- f.label_for("text", {class : "control-label"}) %>
      <%- f.text_area("text", {id:"text"}) %>
    </div>
  

  <%- f.submit("Edit", {class : 'btn btn-warning'}) %>
<% }) %>

<%- link_to('back to list', '/account/articles', {class : 'btn btn-primary'}) %>

<script type="text/javascript" src="/scripts/vendors/ckeditor/ckeditor.js"> </script>
<script type="text/javascript" src="/scripts/vendors/ckeditor/config.js"> </script>
<script type="text/javascript" src="/scripts/vendors/ckeditor/styles.js"> </script>
<script type="text/javascript">
  CKEDITOR.replace('text');
</script>